#####################################################################
# 	KINGROON KLP1 V2.2
####################################################################
[mcu MKS_THR]
serial:/dev/ttyS0
restart_method: command

[fan]
pin:MKS_THR:gpio3
cycle_time: 0.0010

[heater_fan Fan1]
pin: MKS_THR:gpio11
shutdown_speed: 1